## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1- R

2- SQL 

3- Python

Some of the commonly used libraries used by Data Scientists include:

1-Pandas 

2-numpy

3-Tensrflow

 Data Science Tools

| Data Science Tools         |
|----------------------------|
| Jupyter Notebooks           |
| RStudio                     |
| SQL                         |

Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
x= 200
y = 60
hours = x/y
print(hours)

3.3333333333333335

**Objectives:**

- Some of the popular languages that Data Scientists
- Some of the commonly used libraries used by Data Scientists
-  examples of evaluating arithmetic expressions

## Author
Riyadh